<!--
 * @Author: Duc, Sky
 * @Description: html for individual book page
 * @Date: 2021-03-06 03:37:46
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2021-03-16 05:27:04
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/webapp.css') }}" />
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add CSS for this page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bookpage.css') }}" />
    <!-- Add JS for this page -->
    <script type="module" src="{{ url_for('static', filename='js/bookpage.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>BookMatch</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home"><b>BOOKMATCH</b></a>
        <a href="{{ url_for('home') }}">HOME</a>

        <form id="search-form">
            <input type="text" id="basic-search" placeholder="Search..">
        </form>
    </div>

    <div class="container">
        <div id="img">
        </div>
        <div id="book-details">
            <div id="book-info"></div>
            <div id="author-info"></div>
        </div>
    </div>
    <hr>
    <h3>Recommendations</h3>
    <div id="recommendations" class="book-container"></div>

    <div class="footer">
        <div class="footer-content">
            <h3>Author: Duc Nguyen, Tianyi Lu</h3>
        </div>
    </div>
</body>
</html>