<!--
 * @Author: Tianyi Lu
 * @Description: 
 * @Date: 2021-02-23 18:19:02
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2021-02-23 18:19:43
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">BOOK MATCH</a>
        <input type="text" placeholder="Search..">
      </div>
    <div class="today">
        <h3>Books for today</h3>
        <div class="column_today">
            <img src="img_snow.jpg" alt="Snow" style="width:100%">
          </div>
          <div class="column_today">
            <img src="img_forest.jpg" alt="Forest" style="width:100%">
          </div>
          <div class="column_today">
            <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
          </div>
          <div class="column_today">
            <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
          </div>
    </div>
    <div class="genre">
        <h3>Genres</h3>
    </div>
    <div class="trending">
        <h3>Recently trending</h3>
    </div>
</body>
</html>