<!--
 * @Author: Duc, Sky
 * @Description: 
 * @Date: 2021-02-23 18:19:02
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2021-03-16 01:00:53
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/webapp.css') }}" />
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add CSS for this page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}" />
    <!-- Add JS for this page -->
    <script type="module" src="{{ url_for('static', filename='js/homepage.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>BookMatch</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{  url_for('home') }}"><b>BOOKMATCH</b></a>
        <a href="{{ url_for('home') }}">HOME</a>

        <form id="search-form">
            <input type="text" id="basic-search" placeholder="Search..">
        </form>
    </div>

    <!-- Home page only -->
    <div class="headline-container">
        <div id="headline" class="headline">  
        </div>
        <div class="headline-text">
            <h1>Books for Today</h1>
        </div>
    </div>

    <div class="genres-text">
        <h2>Genres</h2>
    </div>
    <div id="genre-content" class="genre-content">
        
    </div>

    <h3 class="page-head">Highly Rated</h3>
    <hr>
    <div id="highly-rated" class="book-container">
    </div>

    <h3 class="page-head">Newly Published</h3>
    <hr>
    <div id="newly-published" class="book-container">
    </div>

    <div class="footer">
        <div class="footer-content">
            <h3>Author: Duc Nguyen, Tianyi Lu</h3>
        </div>
    </div>

</body>
</html>