<!--
 * @Author: Duc, Sky
 * @Description: 
 * @Date: 2021-02-23 18:19:02
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2021-03-06 02:11:39
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/webapp.css') }}" />
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Add CSS for this page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}" />
    <!-- Add JS for this page -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/homepage.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>BookMatch</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{  url_for('home') }}"><b>BOOKMATCH</b></a>
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('pending', path='default') }}">BOOKSHELF</a>
        <a href="{{ url_for('pending', path='default') }}">LOG IN</a>

        <form id="search-form">
            <input type="text" id="basic-search" placeholder="Search..">
        </form>
    </div>

    <h3>Not Available Now</h3>

    <a href="{{ url_for('home') }}">Return to Home Page</a>

</body>
</html>