<!--
 * @Author: Tianyi Lu
 * @Description: 
 * @Date: 2021-02-23 20:59:28
 * @LastEditors: Tianyi Lu
 * @LastEditTime: 2021-02-23 21:04:17
-->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="#home">BOOK MATCH</a>
        <input type="text" id ="basic_search" placeholder="Search..">
        <a >
    </div>
    <h1>Not Available for Now</h1>
    <a href="{{ url_for('home') }}">Return to Home Page</a>
</body>