/*
    Author: Duc, Sky
*/

.headline-container {
    margin-top: 10px;
    background-color: black;
    height: auto;
    padding: 20px;
}

.headline-text {
    text-align: center;
    color: white;
}

.headline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.headline-item {
    height: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.headline-item:hover {
    opacity: 0.5;
}

.headline-img {
    height: 400px;
    box-shadow: 3px 3px 10px white;
}

.genres-text {
    text-align: center;
}

.genre-content {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.genre-item {
    background-color:rgb(0, 174, 255);
    color: white;
    height: auto;
    margin: auto;
    flex: 1 1 calc(20% - 20px);
    text-decoration: none;
}

.genre-item:hover {
    opacity: 0.5;
}


.page-head {
    padding: 0px 10px;
}

.book-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    flex-wrap: wrap;
}

.book-item {
    width: 400px;
    height: auto;
    background-color: rgb(221, 221, 221);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.book-item:hover {
    opacity: 0.5;
}

.book-img{
    float: left;
    width: 135px;
    height: 100%;
}

.book-text {
    margin: 5px;
}

.book-text h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.book-date {
    float:right;
    color: gray;
}

.checked {
    color: orange;
}